a {
    color: #ff5656;
    text-decoration: none;
}
/*section défénie dans ListCard*/
.section_logement{
    background: #e9e9e9;
    margin: 2px auto 9px;
    width: 95%;
}
/*UL ListCard*/
.list_logement{
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px;
}
/*li => card*/
.logement{
    list-style-type: none;
    width: 31%;
    padding: 10px;
}
/* div = img + title*/
.logement_title_div{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: relative;
    width: 335px;
    height: 255px;
    border-radius: 10px;
}
/*Cover*/
.logement_img{
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
/*Effet dégradé derrière titre*/
.logement_div_effect{
    position: absolute;
    background: linear-gradient(180deg,hsla(0,0%,100%,0),rgba(0,0,0,.5));
    border-radius: 10px;
    width: 100%;
    height: 100%;
    top: 0;
}
/*titre logement*/
.logement_title{
    position: absolute;
    left: 20px;
    bottom: 15px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}

@media screen and (max-width: 650px){
    .list_logement, .section_logement{
        background-color: #fff;
    }
  
    .list_logement li{
        width: 100%;
    }
    .logement_title_div{
        width: 344px;
    }
}
